<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.SchoolMangementSystem1"
            android:windowSoftInputMode="adjustPan"
            tools:targetApi="31">
        <activity
                android:name=".Complaint.SendNewComplaint"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".Complaint.ComplaintListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".Complaint.StudentListActivity2"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".List.StaffList"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".meeting.AddNewMeeting"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".meeting.MeetingList"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".StudentProfileActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>

        <receiver android:name=".services.Restarter" />
        <receiver
                android:name=".services.AutoRunReciever"
                android:exported="true"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver> <!-- android:exported="true" -->
        <!-- android:directBootAware="true" -->
        <service
                android:name=".services.MyServiceAdmin"
                android:enabled="true"
                android:exported="true" />

        <activity
                android:name=".LeaveRequest.NewLeaveRequest"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".LeaveRequest.StdRequestList"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".Attendance.StdAttenReportActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".Attendance.attendancedaysactivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".Attendance.TodaysAttendance"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".Attendance.MonthListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".TimeTable.AddNewTimePeriod"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".TimeTable.TimeTableList"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".TimeTable.DaysListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AddNew.AddNewSubject"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".List.SubjectListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".List.StudentsListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AddNew.AddNewStudent"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AddNew.AddNewClass"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AddNew.CreateNewStaff"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".LogInActivity"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
    </application>

</manifest>